# Core dependencies
streamlit
pandas
numpy

# Visualization libraries
plotly
seaborn
matplotlib

# File handling
openpyxl  # For reading .xlsx files

# LangChain and Google Generative AI
langchain==0.2.16
langchain-core==0.2.38
langchain-google-genai==1.0.7
google-generativeai==0.7.2

# Environment variable management

python-dotenv






